@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main {
    padding: 20px;
}

header {
    width: 100%;
    height: 60px;
    background: #020000;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    gap: 15%;
    z-index: 200;
}

.icon__menu {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    color: #C69749;
}

.menu__side {
    width: 80px;
    height: 100%;
    background: #010204;
    position: fixed;
    top: 0;
    left: 0;
    color: #C69749;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #010204;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Modal trigger*/

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.625);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    width: 700px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.close {
    background: #543702;
    color: wheat;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #C69749;
}
.modalDialog .limpiador{
    padding: 10px;
    margin: 10px;
    margin-bottom: 5px;
    margin: 0 10px;
}
.modalDialog .limpiar{
    color: #C69749;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    transition: all 400ms ease;
    margin-bottom: 5px;
    margin: 0 10px;
}
.modalDialog .limpiar:hover{
    background: #C69749;
    color: #fff;
}

/*mostrar ordenes en modal*/
.mostrar .item img{
    max-width: 190px;
}

.mostrar .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px #33383b;
}
.mostrar .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.mostrar .item .item-content h5{
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    font-family: system-ui;
    color: #C69749
}
.mostrar .item .item-content p{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.mostrar .item .item-content h6{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    font-family: system-ui;
}
.mostrar .item span{
    padding: 0px 5px;
    border-radius: 20%;
    color: #ff0000;
    font-family: system-ui;
    cursor: pointer;
}
.mostrar .item span:hover{
    background-color: rgb(225, 65, 65);
    padding: 0px 5px;
    border-radius: 20%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.mostrar h3{
    margin-bottom: 0;
}
.mostrar .item .item-content h5.order-price{
    font-weight: 700;
}
/*Fin Modal Trigger*/

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar {
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.name__page {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i {
    width: 20px;
    margin-right: 20px;
}

.options__menu {
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a {
    color: #C69749;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover {
    color: #ffffff;
}

.options__menu .option {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4 {
    font-weight: 300;
    cursor: pointer;
}

a.selected,
a.selected:hover {
    color: #ffffff;
    transition: 0.5s;
}

/*boton de ordenes o pedidos*/
a.campana {
    position: absolute;
    top: 14px;
    cursor: pointer;
}



/*Clases para usar en JavaScript*/

.body_move {
    margin-left: 250px;
}

.menu__side_move {
    width: 250px;
}


@media screen and (max-width: 760px) {
    .body_move {
        margin-left: 0px;
    }

    .menu__side_move {
        width: 80px;
        left: -80px;
    }
}

/*Main contenido*/

/*seccion de bienvenida*/
.btn-sect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-sect a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #C69749;
    border: 1px solid #C69749;
    border-radius: 6px;
    transition: all 400ms ease;
    margin-bottom: 5px;
    margin: 0 10px;
}

.btn-sect a:hover {
    background: #C69749;
    color: #fff;
}

/*Main contenido*/

/*  TERMINA seccion de bienvenida*/

/*Lineas de decoración*/
.line {
    width: 100%;
    height: 5.5px;
    background: #C69749;
    margin: 10px 0;
    border-radius: 10px;
}

.line2 {
    width: 100%;
    height: 1px;
    background: #C69749;
    margin: 10px 0;
}

/*Termina Lineas de decoración*/

/*Iniacia Cards*/
.container-card {
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}

.title-cards {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    color: black;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}


.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
}

.precio-plato-carta {
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    font-weight: bold;
    margin-top: auto;
}

span {
    color: #C69749;
}
strong {
    color: #C69749;
}

.card .contenido-card {
    padding: 15px;
    text-align: center;
}

.card .contenido-card h3 {
    margin-bottom: 15px;
    color: #7a7a7a;
}

.card .contenido-card p {
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}

.card .contenido-card a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #C69749;
    border: 1px solid #C69749;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

.card .contenido-card a:hover {
    background: #C69749;
    color: #fff;
}


.flex-container {
    flex-wrap: wrap;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .container-card1 {
        flex-wrap: wrap;
    }

    .card1 {
        margin: 15px;
    }
}

/*Fin-Cards*/

/*contenedor de logos*/
.contenedor_logos {
    position: relative;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    gap: 4rem;
}


.contenedor_logos i {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #d3d3d3;
    letter-spacing: 1px;
    border-radius: 3px;
    font-size: 3.1rem;
}

/*Fin contenedor de logos*/

/*Footer Start*/
.footer-distributed {
    background: #33383b;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer izquierda */

.footer-distributed .footer-left {
    width: 40%;
}

/* El logo de la compañia en imagen*/

.footer-distributed img {
    width: 18%;
}

.footer-distributed .powerade {
    color: #ffffff;
    font: normal 16px;
    margin: 0;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #C69749;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-links a:hover {
    color: #ffffff;
    transition: all 0.2s linear;
}

.footer-distributed .footer-company-name {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Centro */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #5c5c5c;
    color: #C69749;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #ffffff;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Derecha */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #5c5c5c;
    border-radius: 60px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #C69749;
    color: #ffffff;
    transition: all 0.2s linear;
}

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}

/*Footer Final*/

/*apartado de ordenes realizadas prximamente X)*/