@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main {
    padding: 20px;
}

header {
    width: 100%;
    height: 60px;
    background: #020000;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    gap: 15%;
    z-index: 200;
}

.icon__menu {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    color: #C69749;
}

.menu__side {
    width: 80px;
    height: 100%;
    background: #010204;
    position: fixed;
    top: 0;
    left: 0;
    color: #C69749;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #010204;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar {
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.name__page {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i {
    width: 20px;
    margin-right: 20px;
}

.options__menu {
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a {
    color: #C69749;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover {
    color: #ffffff;
}

.options__menu .option {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4 {
    font-weight: 300;
    cursor: pointer;
}
a.selected, a.selected:hover{
    color: #ffffff;
    transition: 0.5s;
}
/*boton de ordenes o pedidos*/
a.campana {
    position: absolute;
    top:  14px;
    cursor: pointer;
}



/*Clases para usar en JavaScript*/

.body_move {
    margin-left: 250px;
}

.menu__side_move {
    width: 250px;
}


@media screen and (max-width: 760px) {
    .body_move {
        margin-left: 0px;
    }

    .menu__side_move {
        width: 80px;
        left: -80px;
    }
}

/*Main contenido*/

/*seccion de bienvenida*/
.btn-sect{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-sect a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #C69749;
    border: 1px solid #C69749;
    border-radius: 6px;
    transition: all 400ms ease;
    margin-bottom: 5px;
    margin: 0 10px;
}
.btn-sect a:hover {
    background: #C69749;
    color: #fff;
}

.line {
    width: 100%;
    height: 5.5px;
    background: #C69749;
    margin: 10px 0;
    border-radius: 10px;
}

.line2 {
    width: 100%;
    height: 1px;
    background: #C69749;
    margin: 10px 0;
}

/*Cards*/
.container-card {
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}

.title-cards {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    color: black;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}


.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
}

.precio-plato-carta {
    display: flex;
    flex-basis: 15%;
    justify-content: center;
    font-weight: bold;
    margin-top: auto;
}

span {
    color: #C69749;
}

.card .contenido-card {
    padding: 15px;
    text-align: center;
}

.card .contenido-card h3 {
    margin-bottom: 15px;
    color: #7a7a7a;
}

.card .contenido-card p {
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}

.card .contenido-card a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #C69749;
    border: 1px solid #C69749;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

.card .contenido-card a:hover {
    background: #C69749;
    color: #fff;
}


.flex-container {
    flex-wrap: wrap;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .container-card1 {
        flex-wrap: wrap;
    }

    .card1 {
        margin: 15px;
    }
}

/*Fin-Cards*/

/*contenedor de logos*/
.contenedor_logos{
   position: relative;
   object-fit: contain;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px 20px;
   gap: 4rem;
}
.contenedor_logos i{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #959595;
    letter-spacing: 1px;
    border-radius: 3px;
    font-size: 3.1rem;
}

/*Footer*/
.footer {
    flex-direction: column-reverse;
}

.footer p {
    text-align: center;
    margin-top: 2rem;
}

.footer .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2%;
    height: 2rem;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #C69749;
    box-shadow: 0 .2rem .5rem #7a7a7a;
    font-size: 1rem;
    color: #C69749;
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.footer .social-media a:hover {
    background: #C69749;
    color: white;
}
/*apartado de ordenes realizadas prximamente X)*/
